@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-primary: #ab9d88;
  --color-secondary: #756d5f;
  --color-primary-dark: #332f28;
  --color-secondary-dark: #665d50;
  --color-ternary: #cabaa2;
  --color-primary2: #ebe6dd;
  --color-secondary2: #c3c3c3;
  --color-blue-accent: #512feb;
}

body {
  cursor: none;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  @apply bg-background;
}

a,
button {
  cursor: none; /* Or keep 'none' if you want the bulb to stay */
}
