@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-primary: #ab9d88;
  --color-secondary: #756d5f;
  --color-primary-dark: #332f28;
  --color-secondary-dark: #665d50;
  --color-ternary: #cabaa2;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  @apply bg-background;
}
